@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-3">
    <h2>Run &amp; Deploy</h2>
    <ul>
        <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
    </ul>
</div>
