@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>
    This Web Application allows the booking of an appointment to see a doctor or nurse at the doctor's surgery <br/>
    Unlike if you create a booking as a guest, if you have an account you can keep track of all of the bookings you have made after that date
</h3>
