@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <div>
        <div>
            <h3>You can contact the developer by email at b00330306@studentmail.uws.ac.uk</h3>
        </div>
    </div>
</div>
