@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Confirm Delete";
}
@model Appointment
<div>
    <h2>Delete Appointment</h2>
    <form method="post" asp-action="DeleteAppointment" asp-controller="Patient">
        <input type="hidden" asp-for="AppointmentID" />
        <input type="hidden" asp-for="UserReferralID" />
        <label></label><input type="text" asp-for="AppointmentMedicalProfessional" />
        <input type="hidden" asp-for="AppointmentType" />
        <input type="hidden" asp-for="CurrentDate" />
        <input type="hidden" asp-for="DOB" />
        <input type="hidden" asp-for="PatientFullName" />
        <input type="hidden" asp-for="Postcode" />
        <input type="hidden" asp-for="Region" />
        <input type="hidden" asp-for="County" />
        <input type="hidden" asp-for="StreetName" />
        <input type="hidden" asp-for="StreetNumber" />
        <input type="hidden" asp-for="AppointmentTime" />
        <div class="form-group">
            <label>Appointment Date:</label>
            <div></div>
            <input type="text" asp-for="AppointmentDate" />
        </div>
        <div class="form-group">
            <label>Symptoms</label>
            <div></div>
            <textarea asp-for="Symptoms"></textarea>
        </div>
        <div class="form-group">
            <label>Diagnosis</label>
            <div></div>
            <textarea asp-for="Diagnosis"></textarea>
        </div>
        <input type="submit" />
    </form>
    <a asp-action="Index" asp-controller="Patient">Cancel</a>
</div>