@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}
<div>
    <div style="border: 1px solid black; border-spacing: 15px; height: 250px; background-color: lightblue;" class="col-md-5">
        <a asp-area="" asp-controller="Appointment" asp-action="CreateAppointment">
            @*class="col-md-4"style="background-color: lightblue;">*@
            <h3>Create Appointment</h3>
        </a>
    </div>
    <div style="border: 1px solid black; border-spacing: 15px; height: 250px; background-color: lightblue;" class="col-md-5">
        <a asp-area="" asp-controller="Appointment" asp-action="Search">
            @*class="col-md-4"  style="@*background-color: lightblue;">border-spacing: 15px;">*@
            <h3>Search Appointment</h3>
        </a>
    </div>
    <div style="border: 1px solid black; border-spacing: 15px; height: 250px; background-color: lightblue;" class="col-md-5">@*class="col-md-3">*@
        <a asp-area="" asp-controller="Appointment" asp-action="CreateAppointment">
            @*class="col-md-4"*@ style="@*background-color: lightblue;">border-spacing: 15px;">*@
            <h3>Search Appointment</h3>
        </a>
    </div>

</div>